<?xml version="1.0"?>
<config>
    <modules>
        <Tapcart_Tag>
            <version>1.0.0.0</version>
        </Tapcart_Tag>
    </modules>
    <global>
        <models>	
            <tapcart_tag_entity>
                <class>Tapcart_Tag_Model_Entity</class>
                <resourceModel>tapcart_tag_resource</resourceModel>
            </tapcart_tag_entity>
	        <tapcart_tag_resource>
	            <class>Tapcart_Tag_Model_Resource</class>
	            <entities>
	                <tag>
	                    <table>tapcart_tag</table>
	                </tag>               
	            </entities>	            
	        </tapcart_tag_resource>
            <tapcart_tag>
                <class>Tapcart_Tag_Model</class>
            </tapcart_tag>
        </models>
        <helpers>
            <tapcart_tag>
                <class>Tapcart_Tag_Helper</class>
            </tapcart_tag>
        </helpers>
        <resources>
            <tapcart_tag_setup>
                <setup>
                    <module>Tapcart_Tag</module>
					<class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </tapcart_tag_setup>
            <tapcart_tag_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tapcart_tag_write>
            <tapcart_tag_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tapcart_tag_read>
        </resources>
        <blocks>
            <tapcart_tag>
				<class>Tapcart_Tag_Block</class>
			</tapcart_tag>
        </blocks>
    </global>
    <adminhtml>
		<menu>
			<catalog>
				<children>
					<tapcart_tag module="tapcart_tag">
						<title>NFC Tags</title>
						<sort_order>0</sort_order>
						<action>admin-tapcart-tag/adminhtml_tag</action>
					</tapcart_tag>
				</children>
			</catalog>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<catalog>
							<children>
								<tapcart_tag module="tapcart_tag">
									<title>NFC Tags</title>
									<sort_order>10</sort_order>
								</tapcart_tag>
							</children>
						</catalog>
						<system>
							<children>
								<config>
									<children>
										<tapcart_tag>
											<title>Tapcart - Tag</title>
										</tapcart_tag>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<tapcart_tag>
					<file>tapcart/tag.xml</file>
				</tapcart_tag>
			</updates>
		</layout>
    </adminhtml>
	<admin>
		<routers>
			<tapcart_tag>
				<use>admin</use>
				<args>
					<module>Tapcart_Tag</module>
					<frontName>admin-tapcart-tag</frontName>
				</args>
			</tapcart_tag>
		</routers>
	</admin>	
</config>
